<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            {% include "header.html" %}
            {% block body %}
            {% endblock %}
            {% include "footer.html" %}
        </div>
    </body>
</html>