{% extends "base.html" %}
{% set active_page = "github" %}
{% block head %}
<style>
    .github_repo {
        list-style-type: none;
        height: 90px;
        padding-top: 15px;
        padding-left: 15px;
    }

    .github_repo p.name {
        font-style: bold;
        font-size: 21px;
    }

    .github_repo p.desc {
        font-style: italic;
        font-size: 16px;
    }

    .github_commit {
    }

    .github_commit .hash {
    }

    .github_repo_container {
        border-bottom: 1px solid #eeeeee;
    }

    .github_commit_list {
        display: none;
    }

    .hash {
        font-family: monospace;
    }
</style>
<script>
    function repo_toggle(id) {
        $('#' + id).slideToggle();
    }
</script>
{% endblock %}
{% block body %}
<h2>Github repos</h2>
<ul>
    {% set i = 0 %}
    {% for repo in repos %}
    <div class="github_repo_container">
        <li class="github_repo" onclick="repo_toggle('commits{{i}}')">
            <p class="name">{{ repo.name }}</p>
            <p class="desc">{{ repo.description }}</p>
        </li>
        <ul class="github_commit_list" id="commits{{ i }}" >
            {% for commit in repo.commits[0:10] %}
                <li class="github_commit">
                    <a class="hash">{{ commit.short_sha }}</a> - {{ commit.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% set i = i + 1 %}
    {% endfor %}
</ul>
{% endblock %}