{% extends "base.html" %}
{% block head %}
<style>
    .github_repo {

    }

    .github_commit {
        .hash {

        }
    }
</style>
{% endblock %}
{% block body %}
<ul>
    {% for repo in repos %}
        <li class="github_repo">{{ repo.name }} - {{ repo.description }}</li>
            <ul>
                {% for commit in repo.commits[0:10] %}
                    <li class="github_commit">
                        <a class="hash" style="font-family: monospace">{{ commit.short_sha }}</a> - {{ commit.description }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}