{% extends "base.html" %}
{% set active_page = "forum" %}
{% block body %}
<nav class="navbar" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if forum_page == "forums" %}class="active"{% endif %}><a href="/forum/forums">Forums</a></li>
                <li {% if forum_page == "pms" %}class="active"{% endif %}><a href="/forum/pms">Private Messages</a></li>
                <li {% if forum_page == "news" %}class="active"{% endif %}><a href="/forum/news">News</a>
                <li {% if forum_page == "profile" %}class="active"{% endif %}><a href="/forum/profile">Profile</a></li>
                <li {% if forum_page == "users" %}class="active"{% endif %}><a href="/forum/users">Users</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block forum_body %}
{% endblock %}
{% endblock %}